<div class="simpleform-msg">
  <%= simple_form_for [@family, @conversation, @message] do |f| %>
    <%= f.input :content  %>
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-paper-plane"></i>
    </button>

  <% end %>
</div>
