
<div class="my-message">
  <div class="message-info my-msg-info">
    <p class="my-msg-username"><strong><%= message.user.username %></strong></p>
    <p class="my-msg-time"><%= message.created_at.strftime("%I:%M %p") %></p>
  </div>
  <% if message.content_type == "text" %>
    <%= message.content %>
  <% else %>
    <%= cl_image_tag message.content %>
  <% end %>
</div>

