
<div class="my-message">
  <div class="message-info my-msg-info">
    <p class="my-msg-username"><strong><%= message.user.username %></strong></p>
    <p class="my-msg-time"><%= message.created_at.strftime("%I:%M %p") %></p>
  </div>
    <%= message.content %>
</div>

