<div class="other-messages">
  <div class="message-info">
    <p><strong><%= message.user.username %></strong></p>
    <p><%= message.created_at.strftime("%I:%M %p") %></p>
  </div>
    <%= message.content %>
</div>
