// Specific CSS for your home-page

.homecontainer {

  .icons {
    margin-top: 20px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 52px !important;
    height: 52px !important;
  }
  h1 {
    text-align: center;
  }
}

.home-content {
  padding: 15px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;

  h5 {
    color: #5A5A5A;
    margin-top: 18px;
  }

  p {
    color: #5A5A5A;
  }

  .btn {
    margin-top: 32px;
    color: white;
    background-color: #FF4747;
    border-color: #FF4747;
    border-radius: 5px;
    margin-top: 72px;
    text-decoration: none;
  }
}

