<div class="container">
  <div class="main-content">
    <h3>New Conversation</h3>
    <%= render 'form', conversation: @conversation %>
    <h6>You can add other members in the edit section of the conversation</h6>
  </div>
</div>
