<h6>Families#index</h6>
<h4>Home</h4>

<h1>Select a Fam</h1>
<br>

<% @families.each do |f| %>
<%= link_to f.name, family_path(f) %>
<br>
<% end %>

<br>
<%= link_to "Create New Fam", new_family_path %>
