  .index-wrapper {
    position: relative;
    height: 86vh;

    .index-background-img {
      position: absolute;
      bottom: 0px;
      width: 100%;
      height: 435px;
      z-index: -1;
    }
  }
