.banner {
  background-size: cover;
  // background-color: none;
  background-position: center;
  height: 25vh;
  // padding: 38vh 0;
}

.main-content {
  padding: 12px 60px;
  text-align: center;
  min-height: 92vh;
  h2 {
    margin-bottom: 0;
  }

  img {
    width: 120px;
    height: 120px;
  }
  a {
    text-decoration: none;

  }

  h1 {
    text-decoration: none;
  }
  a:active {
    color: #FF4747;
  }
}

#manage-btn {
  img {
    width: 50px;
    height: 50px;
  }
}

#fam-av {
  // display: flex;
  // justify-content: space-around;
    display:block;
    margin:auto;
  img {
    width: 100%;
    height: 230px;
    border-radius: 10px;
    object-fit: cover;
  }
  margin-bottom: 12px;
}

.activity {
  // background-color: #ECF6FE;
  // background-color: #edfcf5;
  border: none;
}

.feed-header {
  text-align: center;
  font-size: 30px;
  border-top: 1px solid red;
  border-bottom: 1px solid #FF4747;
  margin-bottom: 32px;
  // background-color: #ECF6FE;
  p {
    margin-bottom: 0;
  }
}

.activity-details {
  padding: 4px;
  p {
    margin-bottom: 0;
  }
}
