.main-content {
  padding: 30px 60px;
  text-align: center;
  h2 {
    margin-bottom: 0;
  }

  img {
    width: 120px;
    height: 120px;
  }
  a {
    text-decoration: none;

  }

  h1 {
    text-decoration: none;
  }
  a:active {
    color: #FF4747;
  }
}

#manage-btn {
  img {
    width: 80px;
    height: 80px;
  }
}

#fam-av {
  // display: flex;
  // justify-content: space-around;
    display:block;
    margin:auto;
  img {
    width: 80px;
    height: 80px;
  }
  margin-bottom: 12px;
}
