.main-content {
  padding: 30px 60px;
  text-align: center;

  img {
    width: 120px;
    height: 120px;
  }
  a {
    text-decoration: none;

  }

  h1 {
    text-decoration: none;
  }
  a:active {
    color: #FF4747;
  }
}
