<i id="upload_document_js" class="fas fa-upload"></i>
<div class="simpleformnew mt-3 hidden">
  <%= simple_form_for [@family, @document] do |f| %>
    <%= f.input :content %>
    <%= f.input :content_cache, as: :hidden %>
    <%= f.button :submit, class: "hidden btn btn-info"%>
    <% end %>
</div>
