 <div onclick="goBack()"><i class="fas fa-chevron-left mt-2 ml-2" style="position: center;"></i></div>
 <script>
    function goBack() {
      window.history.back();
    }
  </script>

<div class="navbarlogocontainer">
  <div class="logo-myfam" style="position: center;">
    <%= image_tag "logomyfam.png", :class=>"icons" %>
  </div>
<h1 style="font-size: 36px;">MyFam</h1>
<hr>
</div>

