<nav class="navbarburger d-flex my-auto mb-3">
  <span class="navbar-brand mb-0"></span>

  <button onclick="goBack()"><i class="fas fa-angle-left"></i></button>

  <script>
    function goBack() {
      window.history.back();
    }
  </script>

  </div>
</nav>
