.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}

.card {
  color: black;
  img {
    border-radius: 3px;
    object-fit: cover;
    width: 100%;
  }
}

a {
  color: black;
}

.main-content {
  padding: 30px 60px;
  text-align: center;
}
