#select-fam {
  font-size: 30px;
  color: #151515;
}


.main-content img{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(10%);
}


.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
  background-color: transparent;

    h1 {
      color: #FF4747;
      font-size: 62px;
      margin-top: 16px;
      text-decoration: none;
    }
  }


.option {
  border-style: none;
}

.card {
  color: black;
  background-color: transparent;
  border-radius: 5px;

  img {
    border-radius: 3px;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  #showcard {
    border-style: none;
  }
}

a {
  color: black;
}

#addfam {
  border-style: solid 1px #FF4747;
  border-color: #FF4747;
  width: 120px;
  height: 120px;
}

#indexcard {
  border: none;
}
