.navbarburger {
  background-color: transparent;
  color: black;
  // height: 50px;
  width: 100%;
  align-items: center;

  p {
    margin: auto;
    color: #5A5A5A;
  }

  a:hover {
    text-decoration: none;
    color: black;
  }

  button {
    font-size: 24px;
    vertical-align: middle;
    color: #5A5A5A;
  }
}

#log-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
  // text-align: center;
}

#log-out {
  text-align: right;
  vertical-align: middle;
  padding: 4px 0;
  margin-top: 5px;
}

#logout-btn {
  //background-color: #ECF6FE;
  //border-radius: 3px;
  //border: 1px solid #5A5A5A;
  a {
    color: #5A5A5A;
  }
}


#tools-icon {
  padding: 4px;
}

i {
  font-size: 24px;
  vertical-align: middle;
  color: #5A5A5A;
}

.btn-group {
  background-color: #F7F5FB;
}

.dropdown-menu {
  background-color: #ECF6FE;
  min-width: 300px;
}

#log-bar {
  margin-left: none;
  margin-right: none;
}

.burger-avatar {
  img {
  border-radius: 50%;
  object-fit: cover;
  width: 40px;
  height: 40px;
  }
}

#burger-fam-name {
  flex-grow: 1;
  padding: 4px 0 4px 16px;
}

.burger-nav {
  padding: 0px;
}

#user-avatar {
  text-align: center;
}
