.navbarburger {
  background-color: transparent;
  color: black;
  height: 50px;
  width: 100%;
  align-items: center;

  p {
    margin: auto;
    color: #5A5A5A;
  }

  a:hover {
    text-decoration: none;
    color: black;
  }

}


i {
  font-size: 24px;
  vertical-align: middle;
  color: #5A5A5A;
}

.btn-group {
  background-color: #F7F5FB;
}

.dropdown-menu {
  background-color: #ECF6FE;
}

.burger-nav {
  padding: 0px;
}
