.navbarlogocontainer {
   .icons {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 52px !important;
    height: 52px !important;
  }
  h1 {
    text-align: center;
  }
}
