.navbarhome {
  background-color: transparent;
  color: black;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-myfam {
  padding: 10px 12px;
}
