.navbarburger {
  background-color: transparent;
  color: black;
  height: 50px;
  width: 100%;

  p {
    margin: auto;
    color: #5A5A5A;
  }

}

i {
  font-size: 24px;
  vertical-align: middle;
  color: #5A5A5A;
  margin-top: auto;
  margin-bottom: auto;
}

.btn-group {
  background-color: #F8F7FF;

}
