  .index-wrapper {
    position: relative;
    height: 86vh;

    .index-background-img {
      position: absolute;
      bottom: 0px;
      width: 90%;
      height: 354px;
      z-index: -1;
      opacity: 0.9;
      margin-left: 17px;
    }
  }
