.container-note {
  min-height: 92vh;
}

.note-content {
  min-height: 76vh;
}

.back-to-view {
  padding: 8px 0;
  text-align: right;
}

.note-buttons {
  display: flex;
  justify-content: space-between;
}
