
.search-media-fam-show form {
  position: relative;
  width: 80%;
  margin: auto;

  .form-control {
    width: 85%;
  }

  .btn {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 8px;
  }

}
