.show-doc {
  padding: 4px;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  img {
    border: 1px solid black;
    height: auto;
    max-width: 100%;
    object-fit: cover;
  }
}

.tags {
  padding: 0 8px;
  line-height: 0.8;
  margin-bottom: 10px;
}

.add-tag {
  display: flex;
  justify-content: space-around;
}

.hash {
  padding-top: 15px;
  flex: grow;
}

#tag-input {
  width: 70vw;
  margin: 0 4px;
  color: #FFFFFF;
  position: relative;

  input[type=text] {
    padding-left: 20px;
  }
}

.delete-btn-form {
  text-align: right;
}

.add-btn {
  .btn {
    width: 63px;
  }

}

#btnGroupAddon {
  height: 38px;
  position: absolute;
  top: 8px;
  bottom: 8px;
  left: 8px;
}

.input-group-prepend {
  width: 200px;
}

//.send-media-form {
  //color: #495057;
  //position: relative;
  //display: flex;
  //justify-content: space-between;
  //width: 70vw;
  //margin: 0 4px;

  //.btn {
    //position: absolute;
    //top: 5px;
    //right: -50px;
  //}
//}
