.show-doc {
  padding: 4px;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  img {
    border: 1px solid black;
    height: auto;
    max-width: 100%;
    object-fit: cover;
  }
}

.add-hashtag {
  padding: 0 20px;
}

.tags {
  padding: 0 16px;
}

.add-tag {
  display: flex;
  justify-content: space-between;
}

.hash {
  padding-top: 15px;
  flex: grow;
}

#tag-input {
  width: 70vw;
  margin: 0 4px;
}

.delete-btn-form {
  text-align: right;
}

.send-media-form {
  width: 80%;
  padding-left: 40px;
  position: relative;

  i {
    position: absolute;
    top: 5px;
    right: -40px;
  }
}
