
.simpleform-msg {
  .form-control-label {
    display: none;
  }
}

.message-input form {
  position: relative;

  textarea {
    padding-right: 25px;
  }

  .btn {
    position: absolute;
    top: 5px;
    right: 5px;
  }