.simpleformnew {

  .btn:hover{
    color: white;
    background-color: #FF4747;
    border-color: #FF4747;
    border-radius: 5px; /*set the color you want here*/
  }
  .btn {
    color: white;
    background-color: #FF4747;
    border-color: #FF4747;
    border-radius: 5px;
  }

  a {
    color: #167FFB;
  }
}
