
.conversation-name {
  text-align: center;
}

// .message-input {
//   display: flex;
//   flex-shrink: 0;
// }

.message {
  border: 2px solid #dedede;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;

  .message-info {
    display: flex;
    justify-content: space-between;
  }
}


// .msg-input-field {
//   display: flex;
//   background-color: #EDEDED;
//   justify-content: space-between;
// }

/* Chat containers */
// .container-chat {
//   border: 2px solid #dedede;
//   background-color: #f1f1f1;
//   border-radius: 5px;
//   padding: 10px;
//   margin: 10px 0;
// }

// /* Darker chat container */
// .darker {
//   border-color: #ccc;
//   background-color: #ddd;
// }

// /* Clear floats */
// .container::after {
//   content: "";
//   clear: both;
//   display: table;
// }

// /* Style images */
// .container img {
//   float: left;
//   max-width: 60px;
//   width: 100%;
//   margin-right: 20px;
//   border-radius: 50%;
// }

// /* Style the right image */
// .container img.right {
//   float: right;
//   margin-left: 20px;
//   margin-right:0;
// }

// /* Style time text */
// .time-right {
//   float: right;
//   color: #aaa;
// }

// /* Style time text */
// .time-left {
//   float: left;
//   color: #999;
// }
